.devices-container {
    margin: 0 0 2% 2%;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 3%;
    padding: 2%;
    min-width: 65%;
}

.devices-list {
    min-width: 100%;
    background-color: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1%;

}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
